.wp-list-table tr td {
	vertical-align: middle;  
}

.wp-list-table .column-auction_id {
  	width: 12%;
}

.wp-list-table .column-auction_image {
  	width: 10%;
}

.wp-list-table .column-auction_image img {
  	max-width: 100%;
  	height: auto;
}

.wp-list-table .column-auction_price {
  	width: 10%;
  	text-align: right;
}

.wp-list-table .column-auction_end {
  	width: 20%;
}


.wp-list-table .column-auction_user {
  	width: 10%;
}